@use 'base/variables' as v;
@use 'base/mixins' as m;

.favorito {
    background-color: v.$blanco;
    border-radius: 2rem;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        &__imagen {
            max-width: 30%;
        }
    }

    @include m.tablet {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__info {
        text-align: center;
    }

    &__estrellas {
        margin: 0 auto;
    }

    &__titulo {
        margin: 4rem 0;
        color: v.$primario;
    }
}